::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: hsl(200, 100%, 83%);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(200, 43%, 60%);
  border: 0.15em solid hsl(200, 100%, 83%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(200, 33%, 51%);
}
